/* This is a CSS comment*/
body{
  background-color:#121212;
  color: white;
}

h1{
  color: #7FFF00
}

p{
  color: cyan;
}

.under{
  text-decoration: underline;
  /*Class is more specific than an element*/
  color: red;
}

#coral_color{
  /*id is more specific than a class*/
  color: coral;
  
  text-decoration: none;
}

h1{
  color: #6495ED !important;
}

h1{
  color: #FF1493;
}
